---
import Layout from '@layout'

---

<Layout title='Alejandro'>
	<main class='bg-slate-200 h-screen py-12'>
		<h1 class='mb-12 text-center font-semibold text-3xl'><span class='text-violet-800'>Password</span> Generator</h1>
		<div class='max-w-[1300px] bg-white rounded-xl shadow-lg w-[95%] m-auto'>

		</div>
	</main>
</Layout>
